.content {
  height: 1800px;
}
body {
  background-color: #efefef;
}
.container.main-search {
  width: 80%;
  margin-top: 200px;
  margin-bottom: 50px;
}
.container.recomended{
  width: 80%;
}
.container img {
  /* width: 100%; */
  height: auto;
  margin: 10px 0;
}


/* search box*/
.glyphicon {
  z-index: 200;
}
#search-input {
  float:right;
  width: 15%;
  margin:0;
  margin-top: 10px;
  padding: 0;
}
#search-input.homepage-search {
  visibility: hidden;
}
.scrolled #search-input{
  visibility: visible;
  margin-top:15px;
}
#search-input .search-query, #main-search .search-query  {
  padding: 0 4px;
  margin-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#search-input button, #main-search button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:#D9230F;
}


/* navbar unscrolled/two lines */
header .navbar-nav {
  margin-left: 5%;
}
header .navbar-header a img {
  margin-top:0px;
  float:left;
  height:35px;
}
header .navbar-nav>li {
  float: left;
  border-right: 1px solid #e44b58;
}
header .navbar-nav>li:first-child {
  border-left: 1px solid #e44b58;
}
header .navbar-default {
  
  border: none;
  padding-top: 20px; 
  padding-bottom: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a {
  color: #555; 

  background: none;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a.active{
  color:#ffffff !important;
  background-color:#ff2754;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  color:#ffffff;
  background-color:#ff2754;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}

/* navcar scrolled/one line */
header .navbar-default.scrolled .navbar-header a .logo{
  width: 120px;
  height: 37px;
  background: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
header .navbar-default.scrolled .navbar-header {
 /* float:left;
  margin-right: 40px;
*/}
header .navbar-default.scrolled {
  border-bottom: 3px solid #ff2754;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled .navbar-brand {
  padding: 15px 20px;
  background: #ff275400;
}
header .navbar-default.scrolled ul.navbar-nav {
  padding-top: 15px;
}

header .navbar-default.scrolled ul.navbar-nav li a {
  color: #555555;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color:#ffffff;
  background-color: #ff2754;
}
.navbar-collapse {
      max-height: 340px;
}
.navbar-toggle {
  position:relative;
  float:right;
}

/* footer section */
footer {
  padding:80px 0;
  text-align:center;
  background: #e44b58;
  background: -moz-linear-gradient(-45deg, #e44b58 0%, #ff2754 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e44b58), color-stop(100%, #ff2754));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #e44b58 0%, #ff2754 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #e44b58 0%, #ff2754 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #e44b58 0%, #ff2754 100%);
  /* IE10+ */
  background: linear-gradient(-45deg, #e44b58 0%, #ff2754 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e44b58, endColorstr=#ff2754, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
footer a > img {
  width: 100px;
}
footer .social {
  display: block;
  margin-top: 30px;
}

footer .social a {
  border: 2px solid #ffffff;
  margin: 0 8px;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
footer .social a:hover {
  background: #ffffff;
}
footer .social a i {
  color:#ffffff;
  width: 1em;
}
footer .social a:hover i {
  color: #66cdcc;
}
footer .rights {
  margin-top: 30px;
  color: #ffffff;
}

/* responsive */
@media screen and (max-width: 991px) {
  header .scrolled #search-input {
    width:auto;
    margin: 0 55px 10px 15px;
    /* margin-left: 15px; */
    /* margin-right: 55px; */
  }

}

@media screen and (max-width: 767px) {

  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    background: none;
    border: 2px solid #ff2754;
    color: #ff2754;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-nav>li {
    float: none;
    margin-top: 5px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ff2754;
  }

  header .navbar-default ul.navbar-nav li a {
    padding: 10px;
    text-align: center;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-fixed-bottom .navbar-collapse, 
  header .navbar-fixed-top .navbar-collapse {
    max-height: none;
  }
  header .navbar-default.scrolled .navbar-header {
    float: none;
    margin-right: 0;
  }
  header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
    margin-top: 11px;
    background: none;
    border: 2px solid #ff2754;
    color: #ff2754;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default.scrolled .navbar-collapse.in {
    padding-bottom: 10px;
  }
  header .navbar-collapse.in #search-input {
     width: auto;
     margin-left: 0;
     margin-right: -18px;
  } 
  header .scrolled #search-input {
    width:auto;
    margin-top: 10px;
  }

}
